          body {
            background-color: #191919;
            color: white;
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }

      
        .header-container {
    background-image: url('https://i.imgur.com/XPVBxmY.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 150px; 
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
        }

        .mago-img {
            width: 130px;
            height: auto;
            position: absolute;
            left: 20px; 
            top: 60%;
            transform: translateY(-50%); 
        }

        .header {
            font-size: 24px;
            text-align: center;
            flex-grow: 1;
            margin-top: 20px;
            margin-bottom: 30px;
        }

   .bloco {
  width: 80%; 
  margin: auto; 
}

/* Ícones lado a lado */
.icones-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    perspective: 500px; 
}

/* Cada porta com tamanho igual */
.porta-esquerda {
    width: 300px;
    height: 500px;
    position: relative;
}

.porta-central {
    width: 300px;
    height: 500px;
    position: relative;
}

.porta-direita {
    width: 300px;
    height: 500px;
    position: relative;
}
.porta-esquerda img,
.porta-central img,
.porta-direita img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform-origin: left center; 
transform: translateX(5px) translateY(9px) rotateY(0deg);
}

/* Configuração do fundo das portas */
.porta-fundo {
    position: absolute;
    width: 102%;
    height: 102%;
    background-size: cover;
    background-position: center;
    z-index: 0; 
}

/* Definição de imagens para cada porta */
.porta-esquerda .porta-fundo {
    background-image: url('https://i.imgur.com/mdbE6sC.png'); 
}

.porta-central .porta-fundo {
    background-image: url('https://i.imgur.com/vylwXHe.png'); 
}

.porta-direita .porta-fundo {
    background-image: url('https://i.imgur.com/FBtVcJR.png'); 
}


/* Efeito ao passar o mouse - abrir a porta */
.porta-esquerda:hover img,
.porta-central:hover img,
.porta-direita:hover img {
    transform: translateX(5px) translateY(9px) rotateY(-80deg); 
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*------- Pesquisas --------*/

.floating-icon {
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 9999;
    }

    .floating-icon img {
      width: 200px;
      height: auto;
      cursor: pointer;
    }

.miro-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.miro-frame {
  width: 1200px;
  height: 700px;
  border: none;
}

.docs-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.magic-image {
  max-width: 200px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.docs-frame {
  flex-grow: 1;
  min-width: 950px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
 left: 20px; 
   top: 60%;
}
    </style>
</head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet"> 
